<div id="navbar" class="navbar navbar-default          ace-save-state">
	<div class="navbar-container ace-save-state" id="navbar-container">
		<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
			<span class="sr-only"><?php echo __('Toggle sidebar');?></span>

			<span class="icon-bar"></span>

			<span class="icon-bar"></span>

			<span class="icon-bar"></span>
		</button>

		<div class="navbar-header pull-left">
			<a href="/" class="navbar-brand">
				<img src="/assets/images/logo/header_logo.png">
			</a>
		</div>

		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<!--<?php echo $this->element('notification');?>-->

				<li class="light-blue dropdown-modal">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<img class="nav-user-photo" src="/assets/images/avatars/user.jpg" alt="<?php echo $login_name;?>" />
						<span class="user-info">
									<small><?php echo __('Welcome');?>,</small>
									<?php echo $login_name;?>
								</span>

						<i class="ace-icon fa fa-caret-down"></i>
					</a>

					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<!--<li>
							<a href="#">
								<i class="ace-icon fa fa-cog"></i>
								<?php echo __('Settings');?>
							</a>
						</li>

						<li>
							<a href="profile.html">
								<i class="ace-icon fa fa-user"></i>
								<?php echo __('Profile');?>
							</a>
						</li>

						<li class="divider"></li>-->

						<li>
							<a href="/users/logout">
								<i class="ace-icon fa fa-power-off"></i>
								<?php echo __('Logout');?>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div><!-- /.navbar-container -->
</div>