<div id="sidebar" class="sidebar responsive ace-save-state">
	<script type="text/javascript">
		try{ace.settings.loadState('sidebar')}catch(e){}
	</script>

	<?php //echo $this->element('sidebar_shortcut');?>
	<ul class="nav nav-list">
		<!--<li class="">
			<a href="index.html">
				<i class="menu-icon fa fa-tachometer"></i>
				<span class="menu-text"> Dashboard </span>
			</a>

			<b class="arrow"></b>
		</li>-->

		<li class="active open">
			<a href="" class="dropdown-toggle">
				<i class="menu-icon fa fa-desktop"></i>
				<span class="menu-text"><?php echo __('Client sidebar');?></span>
				<b class="arrow fa fa-angle-down"></b>
			</a>

			<b class="arrow"></b>

			<ul class="submenu">

				<li class="active">
					<a href="/clients/index">
						<i class="menu-icon fa fa-caret-right"></i>
						<?php echo __('Client list sidebar');?>
					</a>

					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="/clients/add">
						<i class="menu-icon fa fa-caret-right"></i>
						<?php echo __('Add new Client sidebar');?>
					</a>

					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="/client_request">
						<i class="menu-icon fa fa-caret-right"></i>
						<?php echo __('Request list');?>
					</a>

					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="/client_request/add">
						<i class="menu-icon fa fa-caret-right"></i>
						<?php echo __('New Request');?>
					</a>

					<b class="arrow"></b>
				</li>


			</ul>
		</li>
	</ul><!-- /.nav-list -->

	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
</div>