<div class="row">
	<div class="col-xs-12">
		<div class="tabbable">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active">
					<a data-toggle="tab" href="#general">
						<i class="green ace-icon fa fa-info bigger-120"></i>
						General Information
					</a>
				</li>

				<li>
					<a data-toggle="tab" href="#contact">
						<i class="purple ace-icon fa fa-envelope bigger-120"></i>
						Contact Information
					</a>
				</li>

				<li>
					<a data-toggle="tab" href="#system">
						<i class="brown ace-icon fa fa-cogs bigger-120"></i>
						System Information
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="general" class="tab-pane fade in active">
					<div class="general-info">
						<h4 class="blue">
							<span class="middle">General Information</span>
							<span class="btn btn-success btn-sm popover-success pull-right">Edit</span>
						</h4>

						<div class="profile-user-info">
							<div class="profile-info-row">
								<div class="profile-info-name"> Client name </div>

								<div class="profile-info-value">
									<span>alexdoe</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Addpress </div>

								<div class="profile-info-value">
									<i class="fa fa-map-marker light-orange bigger-110"></i>
									<span>Netherlands</span>
									<span>Amsterdam</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Phone </div>

								<div class="profile-info-value">
									<span>38</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Fax </div>

								<div class="profile-info-value">
									<span>2010/06/20</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="contact" class="tab-pane fade">
					<div class="contact-info">
						<h4 class="blue">
							<span class="middle">Contact Information</span>
							<span class="btn btn-success btn-sm popover-success pull-right">Edit</span>
						</h4>

						<div class="profile-user-info">
							<div class="profile-info-row">
								<div class="profile-info-name"> Contact name </div>

								<div class="profile-info-value">
									<span>alexdoe</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Job title </div>

								<div class="profile-info-value">
									<i class="fa fa-map-marker light-orange bigger-110"></i>
									<span>Netherlands</span>
									<span>Amsterdam</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Email </div>

								<div class="profile-info-value">
									<span>38</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Mobile </div>

								<div class="profile-info-value">
									<span>2010/06/20</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Phone </div>

								<div class="profile-info-value">
									<span>2010/06/20</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="system" class="tab-pane fade">
					<div class="system-info">
						<h4 class="blue">
							<span class="middle">System Information</span>
							<span class="btn btn-success btn-sm popover-success pull-right">Edit</span>
						</h4>

						<div class="profile-user-info">
							<div class="profile-info-row">
								<div class="profile-info-name"> Domain </div>

								<div class="profile-info-value">
									<span>alexdoe</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> DB host </div>

								<div class="profile-info-value">
									<i class="fa fa-map-marker light-orange bigger-110"></i>
									<span>Netherlands</span>
									<span>Amsterdam</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> DB Name </div>

								<div class="profile-info-value">
									<span>38</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> DB Users </div>

								<div class="profile-info-value">
									<span>2010/06/20</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> DB Password </div>

								<div class="profile-info-value">
									<span>2010/06/20</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>