<div class="row">
	<div class="col-xs-12">
		<div class="tabbable">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active">
					<a data-toggle="tab" href="#general">
						<i class="green ace-icon fa fa-info bigger-120"></i>
						<?php echo __('General Information');?>
					</a>
				</li>

				<li>
					<a data-toggle="tab" href="#contact">
						<i class="purple ace-icon fa fa-envelope bigger-120"></i>
						<?php echo __('Contact Information');?>
					</a>
				</li>

				<li>
					<a data-toggle="tab" href="#system">
						<i class="brown ace-icon fa fa-cogs bigger-120"></i>
						<?php echo __('System Information');?>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="general" class="tab-pane fade in active">
					<div class="general-info">
						<h4 class="blue">
							<span class="middle"><?php echo __('General Information');?></span>
						</h4>

						<div class="profile-user-info">
							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Client name');?> </div>

								<div class="profile-info-value">
									<span><?= $client['ClientProfile']['client_name']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Address');?> </div>

								<div class="profile-info-value">
									<i class="fa fa-map-marker light-orange bigger-110"></i>
									<span><?= $client['ClientProfile']['client_address']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Phone');?> </div>

								<div class="profile-info-value">
									<span><?= $client['ClientProfile']['client_tel']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Fax');?> </div>

								<div class="profile-info-value">
									<span><?= $client['ClientProfile']['client_fax']?></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="contact" class="tab-pane fade">
					<div class="contact-info">
						<h4 class="blue">
							<span class="middle"><?php echo __('Contact Information');?></span>
						</h4>

						<div class="profile-user-info">
							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Contact name');?> </div>

								<div class="profile-info-value">
									<span><?= $client['ClientProfile']['contact_name']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Job title');?> </div>

								<div class="profile-info-value">
									<span><?= $client['ClientProfile']['contact_jobtitle']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Email');?> </div>

								<div class="profile-info-value">
									<span><?= $client['ClientProfile']['contact_email']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Mobile');?> </div>

								<div class="profile-info-value">
									<span><?= $client['ClientProfile']['contact_mobile']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Phone');?> </div>

								<div class="profile-info-value">
									<span><?= $client['ClientProfile']['contact_tel']?></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="system" class="tab-pane fade">
					<div class="system-info">
						<h4 class="blue">
							<span class="middle"><?php echo __('System Information');?></span>
						</h4>

						<div class="profile-user-info">
							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('Domain');?> </div>

								<div class="profile-info-value">
									<span><?= $client['Clients'][0]['short_name']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('DB host');?> </div>

								<div class="profile-info-value">
									<span><?= $client['Clients'][0]['db_host']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('DB Name');?> </div>

								<div class="profile-info-value">
									<span><?= $client['Clients'][0]['db_name']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('DB Users');?> </div>

								<div class="profile-info-value">
									<span><?= $client['Clients'][0]['db_user']?></span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"><?php echo __('DB Password');?> </div>

								<div class="profile-info-value">
									<span><?= $client['Clients'][0]['db_password']?></span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="space-4"></div>
		<div>
			<input type="hidden" name="client_id" value="<?php echo $client['Clients'][0]['id']?>"/>
			<button class="btn-edit btn btn-yellow" title="<?php echo __('Edit');?>">
				<i class="fa fa-edit"></i>&nbsp;<?php echo __('Edit');?></button>
		</div>
	</div>
</div>
<?php $this->start('second_script');?>
<script type="text/javascript">
	$(function(){
		$('button.btn-edit').on('click', function(e){
			location.href='<?php echo Router::url(['controller'=>'Clients','action'=>'add']);?>/'+$(this).parent().find(':hidden[name=client_id]').val();
		});
	});
</script>
<?php $this->end();?>