<div class="row">
    <div class="col-xs-12">
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">Clients
        </div>
        <div class="dataTable_wrapper">
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th><?= __('no.') ?></th>
                        <th><?= __('client name') ?></th>
                        <th><?= __('sub domain') ?></th>
                        <th><?= __('contact name') ?></th>
                        <th><?= __('phone') ?></th>
                        <th><?= __('status') ?></th>
                        <th><?= __('db connection') ?></th>
                        <th><?= __('action') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($clients as $client): ?>
                    <tr data-client-id="<?= $client['ClientProfile']['id']?>" data-type="tr-client-info">
                        <td><?= $client['ClientProfile']['id']?></td>
                        <td data-type="client-name"><?= $client['ClientProfile']['client_name']?></td>
                        <td><?= $client['Clients'][0]['short_name']?></td>
                        <td><?= $client['ClientProfile']['contact_name']?></td>
                        <td><?= $client['ClientProfile']['contact_mobile']?></td>
                        <td data-type="client-status"><?= ($client['Clients'][0]['del_flg']==0)?'Activated':'Deactivated'?></td>
                        <td data-type="check-db-status" data-db='{"host":"<?=$client['Clients'][0]['db_host']?>","user":"<?=$client['Clients'][0]['db_user']?>","name":"<?=$client['Clients'][0]['db_name']?>","pass":"<?=$client['Clients'][0]['db_password']?>","port":"<?=$client['Clients'][0]['db_port']?>"}'>Checking...</td>
                        <td class="actions">
                            <div class="hidden-sm hidden-xs action-buttons button-list">
                                <button class="btn btn-success btn-xs" onclick="return false;" data-type="btn-active" <?=($client['Clients'][0]['del_flg']==0)?"style='display:none'":""?>>
                                    <i class="ace-icon fa fa-check bigger-130"></i>
                                </button>

                                <button class="btn btn-warning btn-xs" onclick="return false;" data-type="btn-deactive" <?=($client['Clients'][0]['del_flg']==1)?"style='display:none'":""?>>
                                    <i class="ace-icon fa fa-ban bigger-130"></i>
                                </button>

                                <button class="btn-redirect btn btn-success btn-xs" data-href="/clients/add/<?=$client['ClientProfile']['id']?>">
                                    <i class="ace-icon fa fa-edit bigger-130"></i>
                                </button>

                                <button class="btn-redirect btn btn-info btn-xs" data-href="/clients/detail/<?=$client['ClientProfile']['id']?>">
                                    <i class="ace-icon fa fa-eye bigger-130"></i>
                                </button>
                            </div>

                            <div class="hidden-md hidden-lg button-list">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li data-type="btn-active" <?=($client['Clients'][0]['del_flg']==0)?"style='display:none'":""?>>
                                            <a href="" onclick="return false;" class="tooltip-info" data-rel="tooltip" title="View">
                                                <span class="orange">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li data-type="btn-deactive" <?=($client['Clients'][0]['del_flg']==1)?"style='display:none'":""?>>
                                            <a href="" onclick="return false;" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                <span class="red">
                                                    <i class="ace-icon fa fa-ban bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/clients/add/<?=$client['ClientProfile']['id']?>" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-edit bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/clients/detail/<?=$client['ClientProfile']['id']?>" class="tooltip-info" data-rel="tooltip" title="View">
                                                <span class="blue">
                                                    <i class="ace-icon fa fa-eye bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<?php echo $this->Html->script(['/assets/js/jquery.dataTables.min','/assets/js/dataTables.select.min','/assets/js/jquery.dataTables.bootstrap.min'],array('block'=>'script_library')); ?>

<?php $this->start('second_script');?>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $('#dynamic-table').DataTable();

    $(function(){
    	var host=location.host;
        var BASE_URL   ="//"+host+"/";

        $("td[data-type=\"check-db-status\"]").each(function(){
        	var target = $(this);
        	var params = target.data('db');
        	$.post(BASE_URL+'clients/checkConnectDB', params, function (res) {
            	target.html(res['status']);
			}, 'json');
        });
        // button edit and detail
        $(document).on('click', '.btn-redirect',function(e){
            var obj=$(this);
            if(obj.data('href')!=undefined) {
                location.href=obj.data('href');
            }
            return false;
        })
    	
    	$(document).on("mouseup", '[data-type=\"btn-active\"]',function(e){
    		var target=$(this);
    		var client_list_tr=target.parents("tr[data-type=\"tr-client-info\"]");
    		var div_button_parent = target.parent("div.button-list");
    		var client_deactive_btn = div_button_parent.children("[data-type=\"btn-deactive\"]");
            var client_id=client_list_tr.attr("data-client-id");
            var client_name=client_list_tr.children("td[data-type=\"client-name\"]").text();
            var client_status=client_list_tr.children("td[data-type=\"client-status\"]");

            $.confirm({
                title: '<?php echo __('Alert');?>',
                content:'<?php echo __('Do you want to active client');?> ' +client_name,
                buttons:{
                    yes:{
                        text:'<?php echo __('Yes');?>',
                        btnClass:'btn-success',
                        action:function(){
                            var params={};
                            params["client_id"]=client_id;
                            params["status"]=0;
                            $.post(BASE_URL+'clients/updateStatus', params, function (res) {
                                if (res.status=='YES') {
                                    client_status.html('Activated');
                                    target.css("display","none");
                                    client_deactive_btn.css("display","inline-block");
                                    $.confirm({
                                        title: "<?php echo __('Alert');?>",
                                        content: '<?php echo __('Success');?>',
                                        buttons: {
                                            yes: {
                                                text: '<?php echo __('Ok');?>',
                                                btnClass: 'btn-danger',
                                                action: function () {
                                                    target.one(e.type, arguments.callee);
                                                }
                                            }
                                        }
                                    });
                                }else{
                                    $.confirm({
                                        title: "<?php echo __('Alert');?>",
                                        content: '<?php echo __('Fail');?>',
                                        buttons: {
                                            yes: {
                                                text: '<?php echo __('Ok');?>',
                                                btnClass: 'btn-danger',
                                                action: function () {
                                                    target.one(e.type, arguments.callee);
                                                }
                                            }
                                        }
                                    });
                                }
                            }, 'json');
                        }
                    },
                    cancel:function(){
                        target.one(e.type,arguments.callee);
                    }
                }
            });

    	});
    	
    	$(document).on("mouseup", '[data-type=\"btn-deactive\"]',function(e){
    		var target=$(this);
    		var client_list_tr=target.parents("tr[data-type=\"tr-client-info\"]");
    		var div_button_parent = target.parent("div.button-list");
    		var client_active_btn = div_button_parent.children("[data-type=\"btn-active\"]");
            var client_id=client_list_tr.attr("data-client-id");
            var client_name=client_list_tr.children("td[data-type=\"client-name\"]").text();
            var client_status=client_list_tr.children("td[data-type=\"client-status\"]");
            
            $.confirm({
				title:"<?php echo __('Alert');?>",
                content:"<?php echo __('Do you want to deactive client');?> "+client_name,
                buttons:{
				    yes:{
				        text:'<?php echo __('Ok');?>',
                        btnClass:'btn-danger',
                        action:function(){
                            var params={};
                            params["client_id"]=client_id;
                            params["status"]=1;
                            $.post(BASE_URL+'clients/updateStatus', params, function (res) {
                                if (res.status=='YES') {
                                    client_status.html('Deactivated');
                                    target.css("display","none");
                                    client_active_btn.css("display","inline-block");
                                    $.confirm({
                                        title: "<?php echo __('Alert');?>",
                                        content: '<?php echo __('Success');?>',
                                        buttons:{
                                            yes: {
                                                text: '<?php echo __('Ok');?>',
                                                btnClass: 'btn-danger',
                                                action: function () {
                                                    target.one(e.type, arguments.callee);
                                                }
                                            }
                                        }
                                    });
                                }else{
                                    $.confirm({
                                        title: "<?php echo __('Alert');?>",
                                        content: '<?php echo __('Fail');?>',
                                        buttons:{
                                            yes:{
                                                text: '<?php echo __('Ok');?>',
                                                btnClass:'btn-danger',
                                                action:function () {
                                                    target.one(e.type,arguments.callee);
                                                }
                                            }
                                        }
                                    });
                                }
                            }, 'json');
                        }
                    },
                    cancel:function(){
                        target.one(e.type,arguments.callee);
                    },
                }
        	});
    	});
    });
</script>
<?php $this->end();?>